extends layout.pug

block content
    .citas-container
        h1 Lista de Citas

        if citas.length
            table
                thead
                    tr
                        th Paciente
                        th Fecha
                        th Hora
                        th Servicio
                        th Acciones
                tbody
                    each cita in citas
                        tr
                            td= cita.paciente
                            td= cita.fecha
                            td= cita.hora
                            td= cita.servicio
                            td
                        form(action=`/citas/eliminar/${cita.id}`, method="POST", onsubmit="return confirm('¿Estás seguro de eliminar esta cita?');")
                            button.btn-eliminar(type="submit") Eliminar
        else
            p No hay citas agendadas.

        .agendar-cita
            a(href="/citas/nueva") Agendar nueva cita